In [1]:
import pandas as pd
import numpy as np
from numpy.linalg import norm
import pickle
from sklearn import preprocessing

In [2]:
pd.set_option('display.max_columns', 500)  # or 1000

In [3]:
datadir = '~/Downloads/datasets-interactive-top-tuples/'
fname = 'car'
fdata = fname + '.csv'

In [4]:
df = pd.read_csv(datadir+fdata, delimiter=',') # na_values='NaN'

In [5]:
df

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,location,link,parse_date
0,Fiat,124 Spider,open,blue,Gasoline,NaN,8000.0,Automatic,NaN,1830000,NaN,NaN,NaN,2022-08-20 00:00:00,Vladivostok,https://vladivostok.drom.ru/fiat/124_spider/47...,2022-08-20 04:00:00
1,BMW,i3,hatchback 5 doors,black,Electro,NaN,12000.0,Automatic,NaN,1830000,NaN,NaN,NaN,2022-08-20 00:00:00,Vladivostok,https://vladivostok.drom.ru/bmw/i3/47958301.html,2022-08-20 04:00:00
2,Mercedes-Benz,GLE Coupe,jeep 5 doors,burgundy,Gasoline,2015.0,57000.0,AT,367.0,4600000,450 AMG 4MATIC Особая серия,M 276 DE 30 AL,3.0 LTR,2022-08-20 00:00:00,Vladivostok,https://vladivostok.drom.ru/mercedes-benz/gle_...,2022-08-20 04:00:00
3,Mercedes-Benz,G-Class,jeep 5 doors,black,Gasoline,2002.0,200000.0,AT,296.0,2999999,G 500,M 113 E 50,5.0 LTR,2022-08-20 00:00:00,Vladivostok,https://vladivostok.drom.ru/mercedes-benz/g-cl...,2022-08-20 04:00:00
4,Audi,Q7,jeep 5 doors,white,Gasoline,NaN,67000.0,Automatic,252.0,3300000,NaN,NaN,NaN,2022-08-20 00:00:00,Vladivostok,https://vladivostok.drom.ru/audi/q7/46498184.html,2022-08-20 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513195,Mitsubishi,Pajero,jeep 5 doors,grey,Gasoline,NaN,80000.0,AT,245.0,600000,NaN,NaN,NaN,2022-09-26 00:00:00,Vladivostok,https://vladivostok.drom.ru/mitsubishi/pajero/...,2022-09-26 19:00:00
1513196,Daihatsu,Mira e:S,hatchback 5 doors,pink,Gasoline,NaN,66000.0,CVT,52.0,430000,NaN,NaN,NaN,2022-09-26 00:00:00,Nahodka,https://nakhodka.drom.ru/daihatsu/mira_e-s/476...,2022-09-26 19:00:00
1513197,Lexus,GX470,jeep 5 doors,black,Gasoline,2002.0,170000.0,AT,235.0,1680000,4.7,2UZ-FE,4.7 LTR,2022-09-26 00:00:00,Ussurijsk,https://ussuriisk.drom.ru/lexus/gx470/47696995...,2022-09-26 19:00:00
1513198,Nissan,Safari,jeep 5 doors,green,Diesel,1997.0,313000.0,AT,160.0,999000,4.2 Granroad limited diesel turbo 4WD,TD42T,4.2 LTR,2022-09-26 00:00:00,Nahodka,https://nakhodka.drom.ru/nissan/safari/4769686...,2022-09-26 19:00:00
1513199,Suzuki,Escudo,jeep 3 doors,white,Gasoline,1997.0,90000.0,AT,100.0,537000,1.6 Helly Hansen limited,G16A,1.6 LTR,2022-09-26 00:00:00,Lesozavodsk,https://lesozavodsk.drom.ru/suzuki/escudo/4769...,2022-09-26 19:00:00

In [6]:
df.isna().sum()

brand                        0
name                         0
bodyType                     0
color                   109734
fuelType                  3560
year                    410974
mileage                  14480
transmission              3065
power                    20887
price                        0
vehicleConfiguration    410974
engineName              412058
engineDisplacement      420765
date                         0
location                     0
link                         0
parse_date                   0
dtype: int64

In [8]:
df = df.drop(['name','vehicleConfiguration','engineName','engineDisplacement','date','location','link','parse_date',
               # 'year' this line due to NaN
             ],
        axis=1)

In [9]:
df = df.dropna()
df.shape

(1002350, 9)

In [10]:
df['brand'].unique().shape, df['bodyType'].unique().shape, df['color'].unique().shape, df['fuelType'].unique().shape, df['transmission'].unique().shape

((62,), (11,), (15,), (2,), (4,))

In [14]:
df = df.drop(['brand','color'], axis=1)

In [16]:
for c in ['bodyType','fuelType','transmission']:
    df1 = pd.get_dummies(df[c])
    df = pd.concat([df, df1], axis=1)

df = df.drop(['bodyType','fuelType','transmission'], axis=1)
df.shape

(1002350, 21)

In [18]:
df['year'] = 2022 - df['year']

In [19]:
df.dtypes.tolist()

[dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8')]

In [20]:
df

,year,mileage,power,price,coupe,hatchback 3 door,hatchback 5 doors,jeep 3 doors,jeep 5 doors,liftback,minivan,open,pickup,sedan,station wagon,Diesel,Gasoline,AT,CVT,Manual,Robot
2,7.0,57000.0,367.0,4600000,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
3,20.0,200000.0,296.0,2999999,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
5,6.0,150000.0,301.0,3500000,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
8,6.0,58000.0,79.0,850000,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
10,5.0,20000.0,231.0,3300000,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513192,11.0,190000.0,99.0,910000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
1513194,10.0,268000.0,99.0,930000,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0
1513197,20.0,170000.0,235.0,1680000,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
1513198,25.0,313000.0,160.0,999000,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
1513199,25.0,90000.0,100.0,537000,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0

In [21]:
names = None
items = df

x = items.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
x_scaled = x_scaled / norm(x_scaled, axis=1)[:, None]
items = pd.DataFrame(x_scaled, columns=items.columns)

In [22]:
items

,year,mileage,power,price,coupe,hatchback 3 door,hatchback 5 doors,jeep 3 doors,jeep 5 doors,liftback,minivan,open,pickup,sedan,station wagon,Diesel,Gasoline,AT,CVT,Manual,Robot
0,0.048640,0.030771,0.298373,0.060610,0.0,0.0,0.000000,0.000000,0.548935,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.548935,0.548935,0.000000,0.0,0.0
1,0.139510,0.109772,0.236425,0.039590,0.0,0.0,0.000000,0.000000,0.551066,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.551066,0.551066,0.000000,0.0,0.0
2,0.042285,0.083039,0.243354,0.046709,0.0,0.0,0.000000,0.000000,0.556751,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.556751,0.556751,0.000000,0.0,0.0
3,0.043735,0.032856,0.045511,0.011523,0.0,0.0,0.575848,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.575848,0.000000,0.575848,0.0,0.0
4,0.035856,0.010775,0.183664,0.044798,0.0,0.0,0.000000,0.000000,0.566527,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.566527,0.566527,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002345,0.079494,0.108011,0.063537,0.012250,0.0,0.0,0.000000,0.000000,0.000000,0.570914,0.0,0.0,0.0,0.0,0.0,0.000000,0.570914,0.000000,0.570914,0.0,0.0
1002346,0.071890,0.151790,0.063205,0.012459,0.0,0.0,0.000000,0.000000,0.000000,0.567932,0.0,0.0,0.0,0.0,0.0,0.000000,0.567932,0.000000,0.567932,0.0,0.0
1002347,0.141443,0.094515,0.184731,0.022359,0.0,0.0,0.000000,0.000000,0.558699,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.558699,0.558699,0.000000,0.0,0.0
1002348,0.175749,0.173448,0.116448,0.013108,0.0,0.0,0.000000,0.000000,0.555367,0.000000,0.0,0.0,0.0,0.0,0.0,0.555367,0.000000,0.555367,0.000000,0.0,0.0
1002349,0.179130,0.050429,0.063909,0.007055,0.0,0.0,0.000000,0.566049,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.566049,0.566049,0.000000,0.0,0.0

In [23]:
import os

with open(os.path.expanduser(datadir+fname+'.pkl'), 'wb') as fout:
    pickle.dump([items,names], fout)